/* src/styles/Header.css */
.header {
    background-color: #ffe600;
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height as needed */
  }
  